
.navBar{
  display: flex;
  font-size: 35px;
  color: aliceblue;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 3vw;
  padding-top: 3vw;


}


.part1{
background-color:#23395d;
clear: both;
margin-left: auto;
margin-right: auto;
display: inline-flex;
bottom: 0;
flex-direction:row;
}

.all{
  height: 100%;
}


.textbottom{
  flex: 1;
  color:aliceblue;
  font-size: 2vw;
  padding: 4vw;
  height: 100%;
}
/* .textBottomBord{
  border: .25vw solid aliceblue;
  border-radius: 10px;
  background-color: #1c2e4a;
  padding:3vw;
} */

.png1{
  object-fit:scale-down;
  padding:1vw;
  padding-bottom: 0%;
  height: 100%;
  width: 100%;
  
}

.textPart2{
text-align: center;
color:aliceblue;
font-size: 3vw;

}

.sText2{
background-color:#1c2e4a;
border-radius: 10px;
margin:auto;
display: flex;
width: fit-content;
padding: 15px;
border: .25vw solid aliceblue;
}


  button{
      font-family: CustomFont;
      background: transparent;
      border-color: transparent;
      font-size: 4vw;
      cursor: pointer;
      color: aliceblue;
      }

    button:hover{
    /* padding: 10px; */
    color: aquamarine;
    }

    button:after{
    content:')';
    opacity: 0;
    color:aqua;
    }

    button:before{
    content:'(';
    opacity: 0;
    color:aqua;
    }

    button:hover:after {
      opacity: 1;
      color: aqua;
    }

    button:hover:before {
      opacity: 1;
      color: aqua;
    }


body{
  background-color:#152238;
  font-family: CustomFont;
  overflow:hidden;
  height: 100%;
}

@font-face {
  font-family: CustomFont;
  src: url("font2.ttf");
  }


#bottom {
    position: absolute;
    bottom: 0;
    left: 0; 
    right:0;
    height: 60%;
    width: 100%;

    
}